langchain==0.3.11
langchain-community==0.3.11
llama-parse==0.5.17
fastembed==0.4.2
qdrant_client==1.12.1
langchain-groq==0.2.1
streamlit==1.41.1
pydantic==2.10.1
unstructured[md]
google-cloud-storage==2.13.0
